.app {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.pictureDiv,
.descriptionDiv {
contain: strict;
 height: 250px;
 object-fit: cover;
 margin: 4px;
 align-content: center;
}

.displayedContent{
contain: strict;
 display: inline-block;
 border: 2px solid grey;
 height: 225px;
 width: 225px;
 margin: 5px;
align-content: center;
border-radius: 15px;
}

.galleryListContainer {
  text-align: center;
}


.pictureBox{
  width: 150px;
  height: 150px;
  object-fit: contain;
  text-align: center;
}


/* .voteButton {
  width: 50px;
  height: 50px;
  display: block;
} */